.zzjz-faked-line-bottom{
    border-bottom: 1px solid #95B8E7;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.zzjz-faked-line-top{
    border-top: 1px solid #95B8E7;
    position: absolute;
    top: 0px;
    width: 100%;
}
.zzjz-faked-line-left{
    border-left: 1px solid #95B8E7;;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
.zzjz-faked-line-right{
    border-right: 1px solid #95B8E7;;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.zzjz-title-div{
    margin: 5px 5px 10px 5px;
    font-size: 16px;
    font-family: Microsoft YaHei, sans-serif;
    font-weight: bold;
}
.zzjz-column-div{
    cursor: move;
    width: 150px;
}
.zzjz-xaxis-div, .zzjz-yaxis-div{
    padding: 5px 0px 5px 0px;
    position: relative;
}
.zzjz-axis-over{
    background-color: rgba(120, 210, 255, 0.47);
}
.zzjz-axis-leader{
    margin-left: 5px;
}
.zzjz-axis-item, .zzjz-axis-item:hover{
    min-width: 95px;
    background-color: cornflowerblue;
    -webkit-border-radius: 0;
    border-radius:0;
    margin: 5px 10px 5px 10px;
}
.zzjz-echart-div{
}
.zzjz-axis-item-selected{
    color: blue;
}

.icon-data-type{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icon-data-type-1{
    background:url('icons/data_number.png') no-repeat center center;
}
.icon-data-type-2{
    background:url('icons/data_text.png') no-repeat center center;
}
.icon-data-type-3{
    background:url('icons/data_date.png') no-repeat center center;
}

input[type=radio].zzjz-radiobox {
    display: none;
}
input[type=radio].zzjz-radiobox:checked + .zzjz-label-radio{
    background-position: 0 -19px;
}
.zzjz-label-radio{
    padding-left: 24px;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    background-image: url("../img/radiobox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

input[type=checkbox].zzjz-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].zzjz-checkbox:checked + .zzjz-label-check{
    background-position: 0 -15px;
}
.zzjz-label-check{
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-image: url("../img/checkbox.png");
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
}